!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %meta{content: "", name: "description"}/
    %meta{content: "Dashboard", name: "author"}/
    %meta{content: "Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina", name: "keyword"}/
    / %link{href: "http://alvarez.is/demo/dashio/favicon.png", rel: "shortcut icon"}/
    %title Digidex
  %body
    /
      **********************************************************************************************************************************************************
      MAIN CONTENT
      ***********************************************************************************************************************************************************
    #login-page
      .container

        .form-login
          = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
            %h2.form-login-heading sign in now
            .login-wrap
              = bootstrap_flash

              = f.text_field :username, placeholder: "Username", class: "form-control"
              %br/
              = f.password_field :password, placeholder: "Password", class: "form-control"
              - if devise_mapping.rememberable?
                %label.checkbox
                  = f.check_box :remember_me
                  = f.label :remember_me
                  %span.pull-right
                    %a{"data-toggle" => "modal", href: "login.html#myModal"} Forgot Password?
              = button_tag(:class => 'btn btn-theme btn-block') do
                %i.fa.fa-lock
                SIGN IN
              %hr/
              .login-social-link.centered
                %p or you can sign in via your social network
                %button.btn.btn-facebook{type: "submit"}
                  %i.fa.fa-facebook
                  Facebook
                - if devise_mapping.omniauthable?
                  - resource_class.omniauth_providers.each do |provider|
                    = link_to omniauth_authorize_path(resource_name, provider), class: "btn btn-#{provider.to_s.downcase}" do
                      %i{class: "fa fa-#{provider.to_s.downcase}"}
                      = provider.to_s.titleize
              .registration
                Don't have an account yet?
                %br/
                - if devise_mapping.registerable? && controller_name != 'registrations'
                  = link_to "Create an account", new_registration_path(resource_name)
          
          / Modal
          #myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
            .modal-dialog
              .modal-content
                .modal-header
                  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
                  %h4.modal-title Forgot Password ?
                .modal-body
                  %p Enter your e-mail address below to reset your password.
                  %input.form-control.placeholder-no-fix{autocomplete: "off", name: "email", placeholder: "Email", type: "text"}/
                .modal-footer
                  %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Cancel
                  %button.btn.btn-theme{type: "button"} Submit
          