= render :partial => '/cards/card_info_template'
%section#container
  /
    **********************************************************************************************************************************************************
    TOP BAR CONTENT & NOTIFICATIONS
    ***********************************************************************************************************************************************************
  / header start
  %header.header.black-bg
    = render '/layouts/logo'
    
    = render '/layouts/top_menu_noti'
    
    .top-menu
      %ul.nav.pull-right.top-menu
        %li
          .logout= link_to 'Logout', destroy_user_session_path, method: :delete, style: 'color: white'
  = render '/layouts/sidebar_menu'
  / header end
  /
  %section#main-content
    %section.wrapper
      .row
        .col-lg-9
          = bootstrap_flash

          .row.mt
            - @cards.each do |card|
              .col-lg-4.col-md-4.col-sm-4.mb
                .content-panel.pn
                  #card_thumb{style: "background: url(#{card.image.filename_url}) no-repeat center top; background-size: cover;"}
                  .pr2-social.centered
                    = link_to card, class: 'view_card', data: {id: card.id}, remote: true do
                      %i.fa.fa-eye
                    = link_to edit_card_path(card) do
                      %i.fa.fa-pencil
                    = link_to card, :method => :delete, :data => { :confirm => 'Are you sure?' } do
                      %i.fa.fa-trash-o
        
        /
          **********************************************************************************************************************************************************
          RIGHT SIDEBAR CONTENT
          ***********************************************************************************************************************************************************
        .col-lg-3.ds
          / COMPLETED ACTIONS DONUTS CHART
          #card_info
          
  %footer.site-footer
    .text-center
      2014 - Abdul Miah
      %a.go-top{href: cards_path}
        %i.fa.fa-angle-up
  / footer end
